* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    color: black;
    font-family: sans-serif;
}



.container{
    width: 1200px;
    margin: auto;
    padding: 25px 15px;
    

}


.header{
    padding: 20px 15px;
}

.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.list{
    display: flex;
    column-gap: 39px;
    align-items: center;
   



}

.link{
    color: black;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 700;
    transition: .5s;
    
}






.image{
    width: 370px;
    height: 310px;
    background: white;
    transition: .5s;

}

.image:nth-child(1){
    border-radius: 50%;
}

.item:nth-child(1){
    flex-direction: row-reverse;


 }


.img{
    width: 425px;
    height: 255px;
    background: black;
    transition: .5s;
    
   

}

.img:nth-child(3){
    width: 425px;
    height: 265px;
    
}



.title{
    font-size: 22px;
    color: black;
    

}






.text{
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    text-align: center;
    color: black;
    
}



.item{
    display: flex;
    align-items: center;
    column-gap: 55px;
    justify-content: space-between;
    padding-bottom: 20px;
    row-gap: 37px;
    padding-bottom: 270px;
}

.header-desc{
    width: 900px;


}
.container__title{
    color:  #03045E;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.container__h1{
    color:  #03045E;
font-family: Poppins;
font-size: 100px;
font-style: normal;
font-weight: 800;
line-height: 116px; /* 116% */
}
.header__desc__p{
    color:  #03045E;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 37px
}
.all-btn{
    color:#fff;
    text-align: center;
    padding: 12px 201px;
    border-radius: 4px;
    border: 1px solid #8989F8;
    border-radius: 6px;
    background:  #F5EE84;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    width: 158px;
    height: 61px;
    flex-shrink: 0;
    
    
}
.section-2__h2{
    color: var(--Too-Light-Yellow, #F7F197);
font-family: Poppins;
font-size: 100px;
font-style: normal;
font-weight: 800;
line-height: 116px; /* 116% */
}
.section-2__p{
    max-width: 980px;
    width: 100%;
    max-height: 134px;
    height: 100%;
    color: var(--Dark-Blue, #03045E);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 44px; /* 183.333% */

}
.header__desc{
    padding-bottom: 270px;
}
.section-2{
    padding-bottom: 134px;
}
.section__3-nuqta{
    display: flex;
    column-gap: 18px;
}
.section__3-h4{
    color: var(--Dark-Blue, #03045E);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 166.667% */

}
.section__3-img{
    width: 13px;
height: 13px;
flex-shrink: 0;
align-items: center;
justify-content: center;
padding-left: 384px;

}
.section__3-p{
    max-width: 900px;
    width: 100%;
    color: var(--Dark-Blue, #03045E);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 44px; /* 183.333% */
padding-left: 384px;
padding-bottom: 70px;
}
.section__3{
    padding-bottom: 300px;
}
.section-4{
    padding-bottom: 124px;
}
.footer__blog{
    display: flex;
    column-gap: 120px;
}
.footer__p{
    color: var(--Dark-Blue, #03045E);
font-family: Poppins;
font-size: 15px;
font-style: italic;
font-weight: 400;
line-height: 44px; /* 293.333% */
}
.footer__h2{
    color: var(--Dark-Blue, #03045E);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 44px; /* 183.333% */
}
.footer__h3{
    max-width: 560px;
    width: 100%;
    color: var(--Dark-Blue, #03045E);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 177.778% */
}